.emp-card{
    padding: 30px 2%;
}
.pict1{
    margin-right: 3%;
}
.pict2{
    margin-right: 3%;
}
.pict3{
    margin-right: 3%;
}
@media only screen and (max-width: 800px) {
    .contacts-title{
       padding-left: 50%;
    }
}